:root {
    --color-black: #000000;
    --color-white: #ffffff;
    --color-off-white: #fbfbfb;
    --color-platinum: #ededed;
    --color-carbon-black: #212427;
    --color-graphite: #2c2c2c;
    --color-slate-gray: #6a7282;
    
    --font-mono: "Geist Mono", "Courier New", Courier, monospace;
    
    --nav-spacing: 1.25rem;
    --nav-padding-y: 2.125rem;

    --text-sm: 0.875rem;
    --text-base: 1rem;
    --text-lg: 1.125rem;
    --text-xl: 1.25rem;
    --text-2xl: 1.5rem;
    --text-3xl: 1.75rem;

    --h1-font-size: var(--text-2xl);
    --h2-font-size: var(--text-lg);
    --body-font-size: var(--text-sm);

    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;

    --line-height-xxs: 1.25;
    --line-height-xs: 1.375;
    --line-height-sm: 1.5;
    --line-height-md: 1.625;
    --line-height-lg: 1.75;
    --line-height-xl: 1.875;
    --line-height-2xl: 2;
    --line-height-3xl: 2.25;

    --letter-spacing-h1: 0.02rem;

    --site-gutter: 1rem;

    --radius-soft: 0.25rem;

    --spacing-xxs: 0.25rem;
    --spacing-xs: 0.5rem;
    --spacing-sm: 1rem;     
    --spacing-md: 1.5rem;
    --spacing-lg: 2rem;    
    --spacing-xl: 2.5rem;
    --spacing-2xl: 4rem;
    --spacing-3xl: 6rem;
    --spacing-section: 7rem;
}

@font-face {
  font-family: "Geist Mono";
  src: url("/fonts/GeistMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist Mono";
  src: url("/fonts/GeistMono-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Geist Mono";
  src: url("/fonts/GeistMono-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}

main, .nav-container, footer {
    font-family: var(--font-mono);
    padding-inline: var(--site-gutter);
}

img.logo {
    width: 24px;
    height: 24px;
    border-radius: var(--radius-soft);
}

.nav-container {
    background-color: var(--color-off-white);
    display: flex;
    flex-direction: column;
    gap: var(--nav-spacing);
    padding-block: var(--nav-padding-y);
}

nav ul {
    display: flex;
    flex-direction: column;
    gap: var(--nav-spacing);
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: var(--color-carbon-black);
    font-size: var(--text-sm);
}

nav ul li a:hover {
    text-decoration: underline;
    color: var(--color-black);
}

section {
    margin-bottom: var(--spacing-2xl);
}

h1, h2, h3 {
    margin: 0;
    color: var(--color-black);
}

h1 {
    font-weight: var(--fw-semibold);
    font-size: var(--h1-font-size);
    letter-spacing: var(--letter-spacing-h1);
}

h2 {
    font-weight: var(--fw-semibold);
    font-size: var(--h2-font-size);
    margin-bottom: var(--spacing-md);
}

.name {
    color: var(--color-black);
    margin: 0;
}

.name-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-xs);
    margin-bottom: var(--spacing-xl);
}

.badge {
    border-radius: var(--radius-soft);
    background-color: var(--color-black);
    color: var(--color-white);
    font-size: var(--text-sm);
    padding: 0.3rem 0.625rem;
    font-weight: var(--fw-semibold);
}

.about p.leading-text {
    line-height: var(--line-height-md);
    letter-spacing: 0.03rem;
}

.about p {
    margin-bottom: var(--spacing-md);
    color: var(--color-graphite);
    font-size: var(--body-font-size);
    line-height: var(--line-height-sm);
    font-weight: var(--fw-medium);
}

.project {
    margin-bottom: var(--spacing-md);
}

.project-link {
    color: var(--color-black);
    text-decoration: none;
    font-weight: var(--fw-medium);
    font-size: var(--body-font-size);
}

.project-link:hover {
    color: var(--color-slate-gray);
    text-decoration: underline;
}

.project h3 {
    margin-bottom: var(--spacing-xxs);
}

.project p {
    margin: 0;
    color: var(--color-slate-gray);
    font-size: var(--body-font-size);
    line-height: 1.5;
}

.tech-stack-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}

.tech-stack-list li {
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
    color: var(--color-slate-gray);
    font-size: var(--body-font-size);
    font-weight: var(--fw-medium);
    line-height: 1.5;
}

.tech-stack-list img {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

@media screen and (min-width: 768px) {
    :root {
        --max-content-width: 45rem;

        --overlay-height: 30px;
        --scroll-slit-height: 2px;

        --nav-spacing: 1.875rem;
        --nav-padding-y: 1rem;

        --h1-font-size: var(--text-3xl);
        --h2-font-size: var(--text-2xl);
        --body-font-size: var(--text-base);

    }

    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: var(--overlay-height);
        background: var(--color-white);
        z-index: 20;
        pointer-events: none;
    }

    main, .nav-container, footer {
        max-width: var(--max-content-width);
        margin-inline: auto;
    }

    .nav-container {
        flex-direction: row;
        border: 1px solid var(--color-platinum);
        border-radius: var(--radius-soft);
        align-items: center;
        justify-content: space-between;
        padding-block: var(--nav-padding-y );
        position: sticky;
        top: calc(var(--overlay-height) + var(--scroll-slit-height));
        z-index: 10;
        margin-bottom: var(--spacing-section);
    }

    nav ul {
        display: flex;
        flex-direction: row;
        gap: var(--nav-spacing)
    }

    nav li {
        margin: 0;
    }

    .name-container {
        display: flex;
        flex-direction: row;
        gap: var(--spacing-sm);
        align-items: center;
    }
}
